<section
  id="hero"
  class="text-secondary relative overflow-hidden grid gap-20 mmd:grid-cols-2 max-w-[1320px] mx-auto w-full pt-10 mmd:pt-0 px-4"
>
  <div class="grid gap-2 mmd:content-center">
    <h1>
      <span class="block text-5xl font-bold dark:text-white">Code Vista</span>
      <span class="text-primary text-lg font-semibold">Soluciones sólidas</span>
    </h1>
    <h2 class="font-semibold dark:text-white">
      <span class="text-slate-500">Profesionales</span> en el desarrollo web
    </h2>
    <p class="max-w-[600px] text-sm text-balance text-slate-400">
      Experiencia, creatividad y tecnología: Nuestro compromiso
      en cada proyecto.
    </p>
    <div class="flex gap-2 mt-4">
      <a
        href="#contact"
        class="bg-primary hover:bg-primary/90 transition-all hover:shadow-md px-6 rounded-full text-white text-sm py-2 font-semibold"
      >
        Contactanos
      </a>
      <a
        href="#about"
        class="bg-secondary hover:bg-secondary/80 transition-all hover:shadow-md px-6 rounded-full text-white text-sm py-2 font-semibold dark:bg-white dark:text-primary"
      >
        Conocenos
      </a>
    </div>
  </div>
  <div>
    <svg
      class="absolute -bottom-[12%] -right-20"
      width="491"
      height="490"
      viewBox="0 0 491 490"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="356.5" cy="356.5" r="356.5" fill="url(#paint0_linear_6:37)"
      ></circle>
      <defs>
        <linearGradient
          id="paint0_linear_6:37"
          x1="356.5"
          y1="0"
          x2="356.5"
          y2="713"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#4A6CF7"></stop>
          <stop offset="1" stop-color="#1E3BB3"></stop>
        </linearGradient>
      </defs>
    </svg>
    <img class="relative z-10 block mx-auto" src="/hero-image.png" alt="" />
  </div>
</section>
